
name: Build & Deployment

on: 
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v4.0.2
      with:
        node-version: '20.x'
 
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: MohammedAltarkawi/mohammedaltarkawi.github.io
        publish_branch: main  # default: gh-pages
        publish_dir: ./
